.register-container {
    margin-top: 30px;
    margin-left: 30%;
    width: 40%;
    height: 550px;
    vertical-align: top;
    display: inline-block;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    margin-top: -00px;
}

#marquee {
    width: 20%;
    margin-left: 40%;
}

#heading {
    text-align: center;
    color: rgb(133, 10, 133);
    margin-right: 10%;
}

#subHeading {
    margin-left: 10%;
}

.lable {
    font-weight: bold;
    font-size: 20px;
    margin-left: 70px;
}

#fname {
    width: 60%;
    height: 50px;
    margin-left: 70px;
}

#lname {
    width: 60%;
    height: 50px;
    margin-left: 70px;
}

#mob {
    width: 60%;
    height: 50px;
    margin-left: 70px;
}

#email {
    width: 60%;
    height: 50px;
    margin-left: 70px;
}

#password {
    width: 60%;
    height: 50px;
    margin-left: 70px;
}

#btn1 {
    width: 60%;
    height: 50px;
    margin-left: 70px;
    background-color: rgb(5, 11, 100);
    color: white;
    font-size: 20PX;
}

#btn1:hover {
    background-color: green;
    margin-right: 20%;
}

.cls {
    display: inline-block;
    margin-left: 7px;
    font-weight: bold;
}